.seccion-superior{
  @media only screen and (max-width: 1600px) {
    width: 1280px;
  }
  @media only screen and (max-width: 1500px) {
    width: 1180px;
  }
  @media only screen and (max-width: 1400px) {
    width: 1080px;
  }
  @media only screen and (max-width: 1200px) {
    width: 980px;
  }
}

.seccion-medio{
  
  display: flex;
  justify-content: space-between;
  
  @media only screen and (max-width: 1600px) {
    width: 1280px;
  }
  @media only screen and (max-width: 1500px) {
    width: 1180px;
  }
  @media only screen and (max-width: 1400px) {
    width: 1080px;
  }
  @media only screen and (max-width: 1200px) {
    width: 980px;
  }
}

.widget{
  
  height: 350px;
  background-color: #343434;
  border-radius: 5px;
  margin: 10px;
  color: #fff;
  box-shadow: 5px 5px 5px #939393;

  &:izquierdo {
    width: 890px;
    @media only screen and (max-width: 1600px) {
      width: 1280px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1180px;
    }
    @media only screen and (max-width: 1400px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1200px) {
      width: 980px;
    }

  }

  &derecho{
    
    width: 890px;
    @media only screen and (max-width: 1600px) {
      width: 1280px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1180px;
    }
    @media only screen and (max-width: 1400px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1200px) {
      width: 980px;
    }
  }
}